/** CSS STYLE **/

@font-face {
  font-weight: normal;
  font-family: Neucha;
  font-style: normal;
  src:
    local("Neucha"),
    url("../fonts/Neucha.woff2") format("woff2"),
    url("../fonts/Neucha.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-weight: normal;
  font-family: "Open Sans";
  font-style: normal;
  src:
    local("Open Sans Regular"),
    local("OpenSans-Regular"),
    url("../fonts/OpenSans-Regular.woff2") format("woff2"),
    url("../fonts/Neucha.woff") format("woff");
  font-display: swap;
}

/**  ОБЩИЕ СТИЛИ  **/

* {
  box-sizing: border-box;
}

body {

  margin: 0;

  color: #2a2626;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: Neucha, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

section,
header,
footer {

  position: relative;

  max-width: 1900px;
  height: 914px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.wrapper {

  position: absolute;
  right: 0;
  left: 0;

  max-width: 1110px;
  margin: auto;
}

/**  HEADER  **/

.background-light {
  z-index: -3;

  background-color: #f5f4f0;
}

.background-image::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;

  width: 1440px;
  height: 914px;

  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: " ";
}

.title {
  margin: 0;
}

.title-orange {
  color: #fe8a02;
}

.image-header {
  position: absolute;
  top: 55px;
  right: -120px;
  z-index: -1;

  height: 525px;
}

.wrapper-description {
  display: flex;
  justify-content: space-between;

  width: 1100px;
  margin-top: 185px;
}

.description {
  width: 540px;
}

.wrapper-first-description {
  margin-right: 30px;
}

.first-description,
.second-description {
  width: 540px;
}

.btn {
  display: block;
  width: 148px;
  height: 49px;
  margin-top: 40px;
  padding: 12px 24px;

  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background: #fe8a02;
}
